#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.square {
  position: absolute;
  z-index: 1;
  width: 100vw;
  bottom: 20vh;
  display: grid;
  place-content: end center;
  left: 0;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
  display: block;
}

.test {
  color: #ffd900;
  color: #e79119;
  color: #c57a0f;

}